#AboutDetailed {
  height: 400px;
  width: 100%;
  /* background: linear-gradient(black, red, black); */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  overflow-x: hidden;
}

#AboutDetailed div {
  background-color: rgba(255, 0, 0, 0.285);
  backdrop-filter: blur(5px);
  height: 78%;
  width: 78%;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

#AboutDetailed div h4 {
  font-size: 2.5rem;
  margin: 0;
}

#AboutDetailed div h4::first-letter {
  font-size: 4.5rem;
  background: linear-gradient(transparent, red, transparent);
}

#AboutDetailed div p {
  font-size: 1.1rem;
  text-align: justify;
  color: white;
  padding: 0 50px;
}

#AboutDetailed div p span {
  /* background-color: black; */
  color: white;
  padding: 0 5px;
  font-size: 1.2rem;
}

#AboutDetailed div:nth-child(2),
#AboutDetailed div:nth-child(3) {
  all: initial;
  display: block;
  background: linear-gradient(to bottom left, red, black);
  box-shadow: 0px 0px 5px 0px red;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  animation: BallAni 10s linear infinite;
}

#AboutDetailed div:nth-child(2) {
  left: 5%;
  bottom: 10%;
}

#AboutDetailed div:nth-child(3) {
  right: 5%;
  top: 10%;
}

@keyframes BallAni {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*Responsiveness*/

@media (max-width: 768px) {
  #AboutDetailed {
    height: 430px;
  }

  #AboutDetailed div {
    height: 83%;
    width: 83%;
    padding: 3% 4%;
  }

  #AboutDetailed div h4 {
    font-size: 2.5rem;
  }

  #AboutDetailed div h4::first-letter {
    font-size: 4.5rem;
  }

  #AboutDetailed div p {
    font-size: 1rem;
    padding: 0;
  }

  #AboutDetailed div p span {
    font-size: 0.7rem;
  }

  #AboutDetailed div:nth-child(2) {
    left: 0;
    bottom: 5%;
  }

  #AboutDetailed div:nth-child(3) {
    right: 1%;
    top: 5%;
  }
}
