#certi_sec {
    height: 1000px;
    width: 100%;
    background-color: #000000;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
}

#certi_sec h1 {
    /* background-color: red; */
    position: relative;
    background-color: white;
    height: 50px;
    width: 40%;
    padding: 10px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    border-radius: 5px;
    margin-top: 30px;
    z-index: 1;
}

dec-left,
dec-right {
    /* background-color: green; */
    background-color: white;
    height: 3px;
    width: 300px;
    position: absolute;
    top: 0;
    margin-top: 53px;
    display: flex;
    align-items: center;
}

dec-left {
    left: 0;
    margin-left: 10%;
}

dec-right {
    right: 0;
    margin-right: 10%;
    transform: rotate(180deg);
}

dec-left span,
dec-right span {
    /* background-color: green; */
    background-color: white;
    display: block;
    position: absolute;
    border-radius: 50%;
}

dec-left span:nth-child(1),
dec-right span:nth-child(1) {
    height: 75px;
    width: 75px;
    left: 0;
}
dec-left span:nth-child(2),
dec-right span:nth-child(2) {
    height: 50px;
    width: 50px;
    left: 40%;
}
dec-left span:nth-child(3),
dec-right span:nth-child(3) {
    height: 30px;
    width: 30px;
    left: 70%;
}


/*//////////////////////////////////////////////////////*/


#certi_sec #navigate {
    /* background-color: green; */
    position: relative;
    width: 90%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#certi_sec #navigate h3 {
    font-size: 1.8rem;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
}

#certi_sec #navigate h3:nth-child(1) {
    /* background-color: cyan; */
    background-color: white;
    height: 100%;
    width: 45%;
    border-radius: 10px 30px 30px 10px;
}
#certi_sec #navigate h3:nth-child(2) {
    /* background-color: blue; */
    background-color: white;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transform: rotate(45deg);
    z-index: 1;
    position: absolute;
    top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#certi_sec #navigate h3:nth-child(2) a{
    all: initial;
    position: absolute;
    transform: rotate(-45deg);
    display: inherit;
    width: 60%;
    height: 60%;
}
#certi_sec #navigate h3:nth-child(2) a img {
    height: 100%;
    width: 100%;
}
#certi_sec #navigate h3:nth-child(3) {
    /* background-color: blueviolet; */
    background-color: white;
    height: 100%;
    width: 45%;
    border-radius: 30px 10px 10px 30px;
}



/*/////////////////////////////////////////////////////////*/



#certi_sec #nestedSec {
    /* background-color: orange; */
    border: 2px solid white;
    border-radius: 5px;
    height: 65%;
    width: 96%;
    margin-top: 50px;
}

#certi_sec #nestedSec .dyna_heading {
    position: relative;
    /* background-color: red; */
    display: inline-block;
    width: 96%;
    margin-left: 2%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#certi_sec #nestedSec .dyna_heading h3 {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    font-size: 1.5rem;
    z-index: 1;
}

#certi_sec #nestedSec .dyna_heading span {
    position: absolute;
    background-color: white;
    height: 5px;
    width: 100%;
}

#certi_sec #nestedSec .dyna_heading img {
    background-color: white;
    z-index: 1;
    border-radius: 50%;
}

#certi_sec #nestedSec .dyna_heading img:nth-child(even) {
    height: 90px;
    width: 90px;
}
#certi_sec #nestedSec .dyna_heading img:nth-child(odd) {
    height: 70px;
    width: 70px;
}

#certi_sec #nestedSec .dyna_content {
    /* background-color: yellow; */
    height: calc(90% - 130px);
    width: 96%;
    margin: 20px auto;
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

#certi_sec #nestedSec .dyna_content .Cer_Dis {
    /* background-color: red; */
    border: 2px solid white;
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-align: center;
}

#certi_sec #nestedSec .dyna_content .Cer_Img {
    /* background-color: green; */
    border: 2px solid white;
    grid-area: 1 / 2 / 5 / 3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#certi_sec #nestedSec .dyna_content .Cer_Img img {
    height: 100%;
    width: 100%;
}

#certi_sec #nestedSec .dyna_content button:nth-child(3){
    grid-area: 4 / 1 / 5 / 2;
    border-radius: 5px;
    font-size: 2rem;
}

#certi_sec #nestedSec .dyna_content button:nth-child(4),
#certi_sec #nestedSec .dyna_content button:nth-child(5) {
    all: initial;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    text-align: center;
    align-content: center;
    font-size: 2rem;
}

#certi_sec #nestedSec .dyna_content button:nth-child(4) {
    left: -4%;
    background: linear-gradient(to right, white, transparent);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

#certi_sec #nestedSec .dyna_content button:nth-child(5) {
    right: -4%;
    background: linear-gradient(to left, white, transparent);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

    

/*////////////////////////////////////////////////////////////////////////*/



#certi_sec #newPage {
    background-color: white;
    position: relative;
    height: 80px;
    width: 40%;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
}

#certi_sec #newPage a {
    all: initial;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    font-weight: bold;
    word-spacing: 5px;
}

#certi_sec #newPage img {
    position: absolute;
    /* border: 2px solid white; */
    height: 100%;
    width: 140px;
}


/*Left Dec */
#certi_sec #newPage img:nth-child(2) {
    left: -25%;
    transform: scale(0.9);
}
#certi_sec #newPage img:nth-child(3) {
    left: -46%;
    transform: scale(0.7);
}
#certi_sec #newPage img:nth-child(4) {
    left: -63%;
    transform: scale(0.5);
}
#certi_sec #newPage img:nth-child(5) {
    left: -74%;
    transform: scale(0.3);
}

/*Right Dec */
#certi_sec #newPage img:nth-child(6) {
    right: -25%;
    transform: scale(0.9);
}
#certi_sec #newPage img:nth-child(7) {
    right: -46%;
    transform: scale(0.7);
}
#certi_sec #newPage img:nth-child(8) {
    right: -63%;
    transform: scale(0.5);
}
#certi_sec #newPage img:nth-child(9) {
    right: -74%;
    transform: scale(0.3);
}