#Project {
    height: 650px;
    width: 100%;
    /* background: url('../Assets/P_Slides/Project_BG.jpg'); */
    background-color: black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 0;
}

#P_Navbar {
    background-color: transparent;
    height: 70px;
    width: 96%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

#P_Navbar::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.052);
    backdrop-filter: blur(5px);
    z-index: -1;
    border: 2px solid red;
    box-sizing: border-box;
    border-radius: 10px;
}

#P_Navbar .P_heading {
    background-color: rgba(255, 255, 255, 0.111);
    backdrop-filter: blur(2px);
    border: 1px solid red;
    width: 25%;
    height: 75%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    color: red;
    text-transform: uppercase;
}

#P_Navbar .P_navigate {
    /* background-color: white; */
    width: 50%;
    height: 75%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#P_Navbar .P_navigate .NavLink {
    all: initial;
    background-color: rgba(255, 255, 255, 0.111);
    backdrop-filter: blur(2px);
    border: 1px solid red;
    height: 100%;
    padding: 0 10px;
    font-size: 1.2rem;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    color: red;
}

#Project .P_Cntnt_Cntn {
    height: 80%;
    width: 58%;
    border-radius: 20px;
    margin-left: 2%;
    position: relative;
    align-self: flex-start;
}

#Project .P_Cntnt_Cntn img {
    position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.P_Navigate-2 {
    height: 140%;
    width: 37%;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 130% ;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    border: 2px solid red;
}

.P_Navigate-2::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.052);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.P_Navigate-2 .NavLink {
    all: initial;
    height: 70%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.159);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 1.4rem;
    cursor: pointer;
    letter-spacing: 2px;
    border: 1px solid red;
    color: white;
}

#Project .P_Cntnt_Cntn .P_Navigate-3 {
    height: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.256);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    position: absolute;
    bottom: 8%;
    right: -60%;
    border-radius: 10px;
}

#Project .P_Cntnt_Cntn .P_Navigate-3 p {
    width: 98%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.247);
    margin: 1% 1%;
    border-radius: 8px;
    font-size: 1rem;
    line-height: 17px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    border: 1px solid white;
}

#Project .P_Cntnt_Cntn .P_Navigate-3 .P_Nav_Links {
    width: 98%;
    height: 20%;
    /* background-color: green; */
    margin: 0 1%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Project .P_Cntnt_Cntn .P_Navigate-3 .P_Nav_Links .NavLink {
    all: initial;
    background-color: rgba(255, 255, 255, 0.248);
    width: 49%;
    height: 100%;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
}

#Project .P_Cntnt_Cntn .P_Navigate-3 .P_Nav_Links .NavLink:hover,
.P_Navigate-2 .NavLink:hover,
#P_Navbar .P_navigate .NavLink:hover {
    background-color: transparent;
    transition: all 0.5s;
}

#Project .P_Cntnt_Cntn .P_Navigate-3 .P_Nav_Links .NavLink:active,
.P_Navigate-2 .NavLink:active,
#P_Navbar .P_navigate .NavLink:active {
    background-color: transparent;
    transform: scale(0.9);
    transition: all 0.5s;
}

@media (max-width : 768px){

    #Project {
        height: 850px;
        justify-content: initial;
    }

    #P_Navbar {
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 20px;
    }

    #P_Navbar .P_heading {
        height: 70px;
        width: 97%;
    }

    #P_Navbar .P_navigate {
        height: 100px;
        width: 97%;    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }

    #P_Navbar .P_navigate .NavLink {
        font-size: 0.8rem;
    }

    #Project .P_Cntnt_Cntn {
        height: 250px;
        width: 96%;
        margin: 0 auto;
        margin-top: 100px;
    }

    #Project .P_Cntnt_Cntn .P_Navigate-3 {
        bottom: -85%;
        right: 0;
        width: 100%;
        height: 200px;
    }

    #Project .P_Cntnt_Cntn .P_Navigate-3 p {
        height: 70%;
    }

    #Project .P_Cntnt_Cntn .P_Navigate-3 .P_Nav_Links {
        height: 23%;
    }

    .P_Navigate-2 {
        width: 100%;
        height: 70px;
        box-sizing: border-box;
        top: 110%;
    }

    .P_Navigate-2 .NavLink {
        font-size: 0.9rem;
    }
}
